.main {
  width: 100%;
  min-height: 100vh;
}

.flex {
  display: flex;
  align-items: center;
}

.mainPage {
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 10px;
  min-width: 30%;
}

.link {
  text-decoration: none;
  color: white;
}

.words {
  width: 100%;
  text-align: center;
}